@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.retro.bg');
    color: white;
    font-family: theme('fontFamily.sans');
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.retro.bg');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.retro.surface');
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.retro.primary');
}